@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?45ffbc3101393392a13e8990da7d2b11") format("truetype"),
url("./flaticon.woff?45ffbc3101393392a13e8990da7d2b11") format("woff"),
url("./flaticon.woff2?45ffbc3101393392a13e8990da7d2b11") format("woff2"),
url("./flaticon.eot?45ffbc3101393392a13e8990da7d2b11#iefix") format("embedded-opentype"),
url("./flaticon.svg?45ffbc3101393392a13e8990da7d2b11#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dashboard:before {
    content: "\f101";
}
.flaticon-briefcase:before {
    content: "\f102";
}
.flaticon-broken-link:before {
    content: "\f103";
}
.flaticon-man-user:before {
    content: "\f104";
}
.flaticon-pop-up:before {
    content: "\f105";
}
.flaticon-programming-code-signs:before {
    content: "\f106";
}
.flaticon-setting:before {
    content: "\f107";
}
.flaticon-settings:before {
    content: "\f108";
}
.flaticon-group:before {
    content: "\f109";
}
.flaticon-backward:before {
    content: "\f10a";
}
.flaticon-customer-support:before {
    content: "\f10b";
}
.flaticon-support:before {
    content: "\f10c";
}
.flaticon-home:before {
    content: "\f10d";
}
.flaticon-loupe:before {
    content: "\f10e";
}
.flaticon-bell:before {
    content: "\f10f";
}
.flaticon-profile-user:before {
    content: "\f110";
}
.flaticon-menu:before {
    content: "\f111";
}
.flaticon-up-arrow:before {
    content: "\f112";
}
.flaticon-pencil:before {
    content: "\f113";
}
.flaticon-facebook:before {
    content: "\f114";
}
.flaticon-google-plus:before {
    content: "\f115";
}
.flaticon-linkedin:before {
    content: "\f116";
}
.flaticon-apple:before {
    content: "\f117";
}
.flaticon-windows:before {
    content: "\f118";
}
.flaticon-yahoo:before {
    content: "\f119";
}
.flaticon-twitter:before {
    content: "\f11a";
}
.flaticon-edit:before {
    content: "\f11b";
}
.flaticon-trash:before {
    content: "\f11c";
}
.flaticon-processor:before {
    content: "\f11d";
}
.flaticon-user:before {
    content: "\f11e";
}
.flaticon-email:before {
    content: "\f11f";
}
.flaticon-logout:before {
    content: "\f120";
}
